[build]
builder = "NIXPACKS"

[deploy]
healthcheckPath = "/health"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[[services]]
name = "himalaya-scraper-api"

[services.variables]
NODE_ENV = "production"
LOG_LEVEL = "info"
SCRAPER_URL = "https://himalayareload.otoreport.com/harga.js.php?id=b61804374cb7e3d207028ac05b492f82265047801111a2c0bc3bb288a7a843341b24cdc21347fbc9ba602392b435df468647-6"
UPDATE_INTERVAL = "* * * * *"
